main{
    height: 100vh;
    background-color: rgb(73, 74, 74);
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}

input{
    padding: 10px;
    background-color: rgb(239, 241, 241, 0.4);
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 40px;
    color: whitesmoke;
}

h2{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

p{
    margin-bottom: 7px;
    margin-left: 30px;
}

li{
    display: none;
}

span{
    display: none;
}

a{
    color: var(--primary-light);
    cursor: pointer;
}

button{
    margin-left: 30px;
    padding: 10px;
    font-weight: 500;
    background-color: rgb(227, 234, 231);
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
}

button:hover{
    background-color: var(--primary-light);
}

legend{
    margin-left: 10px;
}